.navbar {
    background-color: #ff7f7f;
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo-image {
    height: 40px;
    width: auto;
    margin-right: 13px;
  }
  
  .navbar-logo-text {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    white-space: nowrap;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    color: #0c0101;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    transition: all 0.2s ease-out;
  }
  
  .nav-link:hover {
    border-bottom: 4px solid #070000;
  }
  
  .menu-icon {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .menu-icon span {
    width: 25px;
    height: 3px;
    background-color: #050000;
    display: block;
    transition: all 0.2s ease-in-out;
    margin: 5px 0;
  }

  .change-user-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #0c0101;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
  }
  
  .change-user-btn:hover {
    border-bottom: 4px solid #070000;
  }
  
  @media screen and (max-width: 960px) {
    .navbar-container {
      flex-wrap: wrap;
    }
  
    .navbar-logo {
      margin-bottom: 10px;
    }
  
    .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background: rgb(119, 117, 117);
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      display: flex;
      left: 0;
      opacity: 1;
      z-index: 1;
    }
  
    .nav-link {
      text-align: center;
      padding: 1rem;
      width: 100%;
      display: block;
    }
  
    .nav-link:hover {
      background-color: rgb(255, 126, 97);
      color: #090000;
      border-bottom: none;
    }
  
    .menu-icon {
      display: block;
    }
  
    .menu-icon.open span:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .menu-icon.open span:nth-child(2) {
      opacity: 0;
    }
  
    .menu-icon.open span:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }

    .change-user-btn {
        width: 100%;
        text-align: center;
    }
    
    .change-user-btn:hover {
        background-color: rgb(255, 126, 97);
        color: #090000;
        border-bottom: none;
    }
  }
  
  @media screen and (max-width: 480px) {
    .navbar-logo-text {
      font-size: 1.5rem;
    }
  
    .navbar-logo-image {
      height: 30px;
    }
  }