.home {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .welcome-message {
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .dashboard {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard h2 {
    color: #ff7f7f;
    margin-bottom: 1rem;
  }
  
  .dashboard p {
    color: #666;
    line-height: 1.6;
  }

.modern-button {
  background-color: #ff7f7f; /* Modern blue background */
  color: white; /* White text color */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Add padding for more space */
  font-size: 16px; /* Slightly larger text */
  font-weight: bold; /* Bold text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth color transition */
}

.modern-button:hover {
  background-color: #bf5e5e; /* Darker blue on hover */
}

.date-picker-wrapper {
  position: relative; /* Position relative to align date picker */
}

.date-picker {
  border: 1px solid #dcdcdc; /* Light gray border */
  border-radius: 4px; /* Same border radius as button */
  padding: 10px; /* Same padding as button */
  font-size: 16px; /* Same font size as button */
  box-sizing: border-box; /* Ensure padding and border are included in the height */
}

/* Custom styles for the DatePicker calendar */
.react-datepicker__header {
  background-color: #f8f9fa; /* Background color for the header */
  border-bottom: 1px solid #dcdcdc; /* Light gray border */
  padding: 10px; /* Padding around header content */
  font-size: 12px;
  color: #bf5e5e;
}

.react-datepicker__current-month {
  font-size: 12px; /* Smaller font size for the month */
  color: #bf5e5e; /* Different font color for the month */
}

.react-datepicker__day-names {
  font-size: 14px; /* Smaller font size for day names */
}

.react-datepicker__day {
  font-size: 14px; /* Smaller font size for days */
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view {
  font-size: 10px; /* Smaller font size for year and month read views */
  color: #bf5e5e; /* Different font color for year and month */
}